$frameWidth: 700px;
$frameHeight: 500px;
$uiColor: #fff;
$uiFont: sans-serif;
$arrowButtonsBg: transparent;
$arrowButtonsBgHover: rgba(#222, 0.2);
$uiTransitionTime: 0.2s;
$frameBorderRadius: 20px;
$imageIndicatorWidth: 12px;
$CurrentImageIndicatorWidth: $imageIndicatorWidth * 2;
$CurrentImageIndicatorColor: #fff;
$uiInactiveOpacity: 0.8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-slider-frame {
  position: relative;
  width: $frameWidth;
  height: $frameHeight;
  overflow: hidden;

  margin: auto;
  font-family: $uiFont;
  border-radius: $frameBorderRadius;
  color: $uiColor;
  .images {
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    img {
      width: $frameWidth;
      height: $frameHeight;
      max-height: 100%;
      object-fit: cover;
    }
  }
  .image-slider-ui {
    .image-indicators,
    .image-counter,
    .arrow-button {
      position: absolute;
    }
    .arrow-button {
      height: 100%;
      border: none;
      background-color: $arrowButtonsBg;
      color: rgba($color: $uiColor, $alpha: $uiInactiveOpacity);
      padding: 0.5rem;
      transition:
        background-color $uiTransitionTime ease,
        color $uiTransitionTime ease;
      cursor: pointer;
      span,
      .button-icon {
        font-weight: 300;
        font-size: 3rem;
      }
      &:hover {
        background-color: $arrowButtonsBgHover;
        color: $uiColor;
      }
      &#left {
        left: 0;
        top: 0;
      }
      &#right {
        right: 0;
        top: 0;
      }
    }

    .image-indicators {
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      opacity: $uiInactiveOpacity;
      transition: opacity $uiTransitionTime ease;
      display: flex;
      flex-flow: row nowrap;
      gap: 0.2rem;
      &:hover {
        opacity: 1;
      }
      .image-indicator {
        user-select: none;
        width: $imageIndicatorWidth;
        height: $imageIndicatorWidth;
        background-color: transparent;
        border: 1px solid $CurrentImageIndicatorColor;
        border-radius: $imageIndicatorWidth;
        cursor: pointer;
        transition:
          width $uiTransitionTime ease,
          background-color $uiTransitionTime ease;
        &.current-indicator {
          width: $CurrentImageIndicatorWidth;
          background-color: $CurrentImageIndicatorColor;
        }
      }
    }

    .image-counter {
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      opacity: $uiInactiveOpacity;
      font-size: 0.9rem;
      span {
        margin: 0 0.2rem;
      }
      .number-of-images {
        font-weight: 600;
      }
    }
  }
}
