* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  width: 100vw;
  height: 100vh;

  display: grid;
  place-items: center;
}

.drop-down-menu {
  position: fixed;
  top: 0;
}

.image-slider-frame {
  box-shadow: 1px 2px 5px #000;
}
